// Colours

  $bk-dk:         #1d1c1b;
  $bk-md-dk:      #4c4c4c;
  $bk-md:         #999;
  $bk-md-lt:      #cbcccd;
  $bk-lt:         #f2f2f2;

  $wh-lt:         #fff;

// Typography

  $font-serif: Zilla Slab, serif;
  $font-sans: Open Sans, sans-serif;

